# 컬렉션에 대해 기초만 작성했습니다.

## list

In [3]:
# 리스트는 대괄호를 사용하며 여러 자료형의 값들을 저장할 수 있습니다.
li1 = [1, 1, 1, 'python', 1.1, True]
print(li1, type(li1)) # [1, 1, 1, 'python', 1.1, True] <class 'list'>

# 리스트의 인덱싱(해당 요소의 자료형을 유지하며 출력됩니다.)
print(li1[0], type(li1[0]))
print(li1[-1], type(li1[-1]))

# 리스트의 슬라이싱(리스트 자료형으로 출력됩니다.)
print(li1[2:4], type(li1[2:4]))
print(li1[-1:],type(li1[-1:]))

[1, 1, 1, 'python', 1.1, True] <class 'list'>
1 <class 'int'>
True <class 'bool'>
[1, 'python'] <class 'list'>
[True] <class 'list'>

In [6]:
# 리스트의 시퀀스 연산
li1 = [1, 2, 3, 4, 5.5, True]
li2 = ['Korea', False, 2, 0.2]

# 연결
print(li1 + li2)

# 반복
print(li1 * 3)
print(li2 * 2)

[1, 2, 3, 4, 5.5, True, 'Korea', False, 2, 0.2]
[1, 2, 3, 4, 5.5, True, 1, 2, 3, 4, 5.5, True, 1, 2, 3, 4, 5.5, True]
['Korea', False, 2, 0.2, 'Korea', False, 2, 0.2]

## tuple

In [12]:
# 튜플은 소괄호를 사용하며 여러 자료형의 값들을 담을 수 있습니다.(리스트와 달리 수정 등이 불가합니다.)

tu1 = (1, 2, 3, 'Korea', 3.4, False)
print(tu1, type(tu1)) # (1, 2, 3, 'Korea', 3.4, False) <class 'tuple'>

# 튜플의 패킹
# 소괄호를 사용하지 않아도 자동으로 튜플로 묶어줍니다.
tu2 = True, 6, 1, 3, 2.5, 'USA'
print(tu2, type(tu2)) # (True, 6, 1, 3, 2.5, 'USA') <class 'tuple'>

# 튜플의 언패킹
# 순서대로 각각의 변수에 값을 저장해줍니다.
a, b, c, d, e, f = tu2
print(a, b, c, d, e, f) 

# 변수의 개수가 튜플 내 값의 개수와 다를 때 오류가 발생합니다.
# a, b, c = tu1 / 오류내용 :  ValueError: too many values to unpack (expected 3)

(1, 2, 3, 'Korea', 3.4, False) <class 'tuple'>
(True, 6, 1, 3, 2.5, 'USA') <class 'tuple'>
True 6 1 3 2.5 USA

In [13]:
# 튜플의 시퀀스 연산

# 연결
print(tu1 + tu2)

# 반복
print(tu1 * 3)
print(tu2 * 2)

(1, 2, 3, 'Korea', 3.4, False, True, 6, 1, 3, 2.5, 'USA')
(1, 2, 3, 'Korea', 3.4, False, 1, 2, 3, 'Korea', 3.4, False, 1, 2, 3, 'Korea', 3.4, False)
(True, 6, 1, 3, 2.5, 'USA', True, 6, 1, 3, 2.5, 'USA')

## list와 tuple의 형변환

In [16]:
# list()함수와 tuple()함수로 형변환이 가능합니다.
li1 = [1, 2, 3, 4, 5.5, True]
tu1 = (1, 2, 3, 'Korea', 3.4, False)

# 형변환 전
print(li1, type(li1)) #리스트
print(tu1, type(tu1)) #튜플

# 형변환 후
print(tuple(li1), type(tuple(li1))) # (1, 2, 3, 4, 5.5, True) <class 'tuple'>
print(list(tu1), type(list(tu1))) # [1, 2, 3, 'Korea', 3.4, False] <class 'list'>

[1, 2, 3, 4, 5.5, True] <class 'list'>
(1, 2, 3, 'Korea', 3.4, False) <class 'tuple'>
(1, 2, 3, 4, 5.5, True) <class 'tuple'>
[1, 2, 3, 'Korea', 3.4, False] <class 'list'>

## set

In [17]:
# set는 여러 자료형의 값들을 허용하되, 중복값은 허용하지 않는 자료형입니다.(인덱스 번호가 부여되지 않음)
# 중괄호를 사용합니다.

se1 = {1, 2, 3, 1, 2, 3, "가", "나", 0.5, False}

# 중복값 허용X, 순서X
print(se1, type(se1)) # 인덱스 번호(순서)가 없기 때문에 순서가 무작위로 출력됩니다.

# 인덱스번호X
# print(se1[0], type(se1[0])) / TypeError: 'set' object is not subscriptable

#시퀀스 연산자 사용 불가
# print(se1 + se2) #TypeError: unsupported operand type(s) for +: 'set' and 'set'

{0.5, '가', 2, 3, 1, False, '나'} <class 'set'>

## dict

In [20]:
# dict은 key와 value로 구성되어 있으며 set와 동일하게 중괄호를 사용합니다.
# key값이 인덱스번호 역할을 하여 value값은 중복값을 허용하고 인덱싱이 가능합니다.

di1 = {1:['짱구', '철수'], 2:('짱구','철수'), 3:'훈이'}
print(di1, type(di1))

di1 = {1:'짱구', 2:'철수', 3:'훈이'}
print(di1, type(di1))

print(di1[1], type(di1[1]))
print(di1[2], type(di1[2]))
print(di1[3], type(di1[3]))

# .keys() : key값들만 리스트로 묶어서 반환
print(di1.keys(), type(di1.keys())) 

# .values() : value값들만 리스트로 묶어서 반환
print(di1.values(), type(di1.values()))

# .items() : (key, value)과 같은 튜플 형태로, 리스트로 묶어서 반환
print(di1.items(), type(di1.items))

{1: ['짱구', '철수'], 2: ('짱구', '철수'), 3: '훈이'} <class 'dict'>
{1: '짱구', 2: '철수', 3: '훈이'} <class 'dict'>
짱구 <class 'str'>
철수 <class 'str'>
훈이 <class 'str'>
dict_keys([1, 2, 3]) <class 'dict_keys'>
dict_values(['짱구', '철수', '훈이']) <class 'dict_values'>
dict_items([(1, '짱구'), (2, '철수'), (3, '훈이')]) <class 'builtin_function_or_method'>